<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layer1">
<div th:fragment="content">
    <div class="container">
        <caption>商户管理</caption>
        <form action="" method="post" id = "merchantQuery">
            <table class="table table-striped" >
                <tr>
                    <td align="right" >商户Id：</td>
                    <td>
                        <input type="text" class="form-control" id="merchantId" name="merchantId">
                    </td>
                    <td align="right" >商户名称：</td>
                    <td>
                        <input type="text" class="form-control" id="merchantName" name="merchantName">
                    </td>
                </tr>
            </table>
        </form>
        <div class="outer clearfix u-inquire">
            <button id="query" class="btn large panel-green">查询</button>
        </div>
    </div>
    <div class="container">
        <caption>商户列表</caption>
        <form action="" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>商户号</td>
                        <td>商户名称</td>
                        <td>账户号</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="merchantList">
                </tbody>
            </table>
            <div id="fixed-table-pagination" class="clearfix">
                <div class="pull-right">
                    <div class="pages">
                        <div id="Pagination"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#insertmerchant">新增商户</button>
    <div class="modal fade" id="insertmerchant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增商户
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="insertForm">
                        <table class="table table-striped" >
                            <tr>
                                <td align="right" >商户名称：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertMerchantName" name="insertMerchantName">
                                </td>
                                <td align="right" >账户号：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertAccountNo" name="insertAccountNo">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" >手机号码：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertMobile" name="insertMobile">
                                </td>
                                <td align="right" >登录密码：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertPassword" name="insertPassword">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" >支付密码：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertPayPassword" name="insertPayPassword">
                                </td>
                                <td align="right" >自动对账：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertAutoSettle" name="insertAutoSettle">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" >安全策略：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertSecurityRate" name="insertSecurityRate">
                                </td>
                                <td align="right" >ip白名单：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertMerchantServerIp" name="insertMerchantServerIp">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" >支付产品：</td>
                                <td>
                                    <input type="text" class="form-control" id="payProductDiv" name="payProductDiv">
                                </td>
                                </td>
                                <td align="right" >真实姓名：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertRealName" name="insertRealName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" id="token" name="token" th:value="${token}">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id = "submitInsert">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>
        $(document).ready(function() {
            getData();
            $("#query").click(function () {
                query();
            });
            $("#submitInsert").click(function () {
                insert();
            });
        });

        function insert() {
            $("#insertmerchant").modal("hide");
            var array = $("#insertForm").serializeArray();
            var obj = {};
            var map = {};
            for (var i = 0; i < array.length; i++) {
                if (array[i].name.indexOf("feeRate") < 0) {
                    obj[array[i].name] = array[i].value;
                } else {
                    map[array[i].name] = array[i].value;
                }
            }
            obj["insertPayProductCode"] = map;
            $.ajax("/merchant/info/add", {
                data: JSON.stringify(obj),
                contentType: "application/json",
                datatype: "json",
                type: "post",
                success: function (data) {
                    if ("000000" == data.code) {
                        alert("新增商户成功");
                    } else {
                        alert("新增商户失败");
                    }
                    // window.location.reload();
                    query();
                }
            });
        }

        function deleteMerchant(id) {
            if (confirm("确定删除商户？")) {
                $.post("/merchant/info/delete/" + id,
                    function callback(data) {
                        if ("000000" == data.code) {
                            alert("删除成功！");
                        } else {
                            alert("删除失败！")
                        }
                    }
                );
            }
        }

        function query() {
            if (!checkParam()) {
                return;
            }
            getData();
        }

        function getData() {
            var array = $("#merchantQuery").serializeArray();
            var obj = {};
            for (var i = 0; i < array.length; i++) {
                obj[array[i].name] = array[i].value;
            }
            $.ajax("/merchant/info/page", {
                data: JSON.stringify(obj),
                contentType: "application/json",
                datatype: "json",
                type: "post",
                success: function (data) {
                    $("#Pagination").pagination(data.total, {
                        current_page: (data.pageNum - 1),
                        items_per_page: data.pageSize,
                        callback: function (current_page, per_page) {
                            obj["pageNum"] = current_page;
                            obj["pageSize"] = per_page;
                            console.log(JSON.stringify(obj));
                            $.ajax("/merchant/info/page", {
                                data: JSON.stringify(obj),
                                contentType: "application/json",
                                datatype: "json",
                                type: "post",
                                success: function (data) {
                                    analyzeData(data);
                                }
                            });
                        }
                    });
                    analyzeData(data);
                }
            });
        }

        // 检查参数
        function checkParam() {
            return true;
        }

        // 解析数据
        function analyzeData(data) {
            $("#merchantList").empty();
            if (data.total > 0) {
                var merchantList = data.list;
                var length = data.size;
                for (var i = 0; i < length; i++) {
                    var merchant = merchantList[i];
                    var str = "<tr><td>";
                    str += merchant.merchantNo + "</td><td>";
                    str += merchant.merchantName + "</td><td>";
                    str += merchant.accountNo + "</td><td>";
                    str += "<button href= '/merchant/update/'" + merchant.id + ">修改</button><button onclick='deleteMerchant("+ merchant.id +")'>删除</button></td></tr>";
                    $("#merchantList").append(str);
                }
            } else {
                $("#merchantList").html("无数据");
            }
        }
    </script>
</div>

