@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');/* IE9*/
	src:url('../fonts/icomoon.eot?#iefix-m9wrda') format('embedded-opentype'),/* IE6-IE8 */
		url('../fonts/icomoon.woff?-m9wrda') format('woff'),/* chrome、firefox */
		url('../fonts/icomoon.ttf?-m9wrda') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		url('../fonts/icomoon.svg?-m9wrda#icomoon') format('svg'); /* iOS 4.1- */
	font-weight: normal;
	font-style: normal;
}

.icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size:16px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke-width: 0.2px;
}













.icon-cdxxsb:before {
	content: "\e639";
}
.icon-ckxxsb:before {
	content: "\e63a";
}
.icon-ddxxsb:before {
	content: "\e63b";
}
.icon-gncq:before {
	content: "\e63c";
}
.icon-grwpxxsb:before {
	content: "\e63d";
}
.icon-grxxsb:before {
	content: "\e63e";
}
.icon-hzsb:before {
	content: "\e63f";
}
.icon-qtfw:before {
	content: "\e640";
}
.icon-sffw:before {
	content: "\e641";
}
.icon-shcq:before {
	content: "\e642";
}
.icon-tghf:before {
	content: "\e643";
}
.icon-whwf:before {
	content: "\e644";
}
.icon-xysxxsb:before {
	content: "\e645";
}
.icon-zfxxsb:before {
	content: "\e646";
}
.icon-bz-12:before {
	content: "\e627";
}
.icon-bz-2:before {
	content: "\e628";
}
.icon-bz-3:before {
	content: "\e629";
}
.icon-bz-4:before {
	content: "\e62a";
}
.icon-bz-5:before {
	content: "\e62b";
}
.icon-bz-6:before {
	content: "\e62c";
}
.icon-bz-7:before {
	content: "\e62d";
}
.icon-bz-8:before {
	content: "\e62e";
}
.icon-bz-9:before {
	content: "\e62f";
}
.icon-bz-10:before {
	content: "\e630";
}
.icon-bz-11:before {
	content: "\e631";
}
.icon-bz-122:before {
	content: "\e632";
}
.icon-bz-13:before {
	content: "\e633";
}
.icon-bz-a:before {
	content: "\e634";
}
.icon-bz-b1:before {
	content: "\e635";
}
.icon-bz-b2:before {
	content: "\e636";
}
.icon-dsj:before {
	content: "\e637";
}
.icon-ysj:before {
	content: "\e638";
}
.icon-chilun1:before {
	content: "\e64a";
}
.icon-chilun:before {
	content: "\e647";
}
.icon-yewu:before {
	content: "\e648";
}
.icon-yewu1:before {
	content: "\e649";
}
.icon-sbsh:before {
	content: "\e623";
}
.icon-bz-1:before {
	content: "\e625";
}
.icon-zkss:before {
	content: "\e624";
}
.icon-aq:before {
	content: "\e622";
}
.icon-zs2:before {
	content: "\e621";
}
.icon-hy:before {
	content: "\e61f";
}
.icon-qy:before {
	content: "\e61e";
}
.icon-df1:before {
	content: "\e600";
}
.icon-fd:before {
	content: "\e601";
}
.icon-fr:before {
	content: "\e602";
}
.icon-fw:before {
	content: "\e603";
}
.icon-gb:before {
	content: "\e604";
}
.icon-gb1:before {
	content: "\e609";
}
.icon-j:before {
	content: "\e611";
}
.icon-jh:before {
	content: "\e613";
}
.icon-k:before {
	content: "\e614";
}
.icon-kf:before {
	content: "\e615";
}
.icon-l:before {
	content: "\e616";
}
.icon-ls:before {
	content: "\e617";
}
.icon-lx:before {
	content: "\e618";
}
.icon-p:before {
	content: "\e619";
}
.icon-r:before {
	content: "\e61a";
}
.icon-sq:before {
	content: "\e61b";
}
.icon-ts:before {
	content: "\e61c";
}
.icon-yh:before {
	content: "\e61d";
}
.icon-zs:before {
	content: "\e612";
}
.icon-yy:before {
	content: "\e60f";
}
.icon-z:before {
	content: "\e610";
}
.icon-y:before {
	content: "\e60d";
}
.icon-sfz:before {
	content: "\e620";
}
.icon-p2:before {
	content: "\e605";
}
.icon-kf2:before {
	content: "\e606";
}
.icon-sp:before {
	content: "\e607";
}
.icon-sd:before {
	content: "\e608";
}
.icon-cx:before {
	content: "\e60a";
}
.icon-ss:before {
	content: "\e60b";
}
.icon-y2:before {
	content: "\e626";
}
.icon-zc:before {
	content: "\e60c";
}
.icon-news:before {
	content: "\e60e";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-user:before {
	content: "\e971";
}
.icon-key2:before {
	content: "\e98e";
}
.icon-paragraph-justify:before {
	content: "\ea7a";
}
