<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.portal.mapper.MerchantInfoMapper">
  <resultMap id="BaseResultMap" type="com.santiago.portal.entity.domain.MerchantInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="pay_pwd" jdbcType="VARCHAR" property="payPwd" />
  </resultMap>
</mapper>