<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.portal.mapper.PmsOperatorLogMapper">
  <resultMap id="BaseResultMap" type="com.santiago.portal.entity.domain.PmsOperatorLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>