<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml-strict-thymeleaf-spring-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商户添加</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(function () {
            $("#doSubmit").on("click", function () {
                if (checkNotNull()) {
                    $("#insertMerchantForm").submit();
                }
            })

            function checkNotNull() {
                var merName = $("#merName").val();
                var merOrgCode = $("#merOrgCode").val();
                if (!merName) {
                    alert("请输入商户名");
                    return false;
                }
                if (!merOrgCode) {
                    alert("请输入商户组织机构号");
                    return false;
                }
                return true;
            }

            $("#merName").on("blur", function () {
                var merName = $("#merName").val();
                if ("" == merName) {
                    alert("商户名不能为空");
                }
            })

            $("#merOrgCode").on("blur", function () {
                var merOrgCode = $("#merOrgCode").val();
                if ("" == merOrgCode) {
                    alert("商户组织机构号不能为空");
                }
            })
        })

    </script>
</head>
<body>
<form id="insertMerchantForm" action="/merchant/insert" method="post">
    <table>
        <tr>
            <td>商户名称</td>
            <td>
                <input type="text" id="merName" name="merName">
            </td>
        </tr>
        <tr>
            <td>商户组织机构号</td>
            <td>
                <input type="text" id="merOrgCode" name="merOrgCode">
            </td>
        </tr>
        <tr>
            <td><input class="button" id="doSubmit">提交</input></td>
        </tr>
    </table>
</form>


</body>
</html>