<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.cg.mapper.AccountCheckBatchMapper">
  <resultMap id="BaseResultMap" type="com.santiago.cg.entity.domain.AccountCheckBatch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="CHAR" property="version" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="bill_date" jdbcType="DATE" property="billDate" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="handle_status" jdbcType="CHAR" property="handleStatus" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="mistake_count" jdbcType="INTEGER" property="mistakeCount" />
    <result column="unhandle_mistake_count" jdbcType="INTEGER" property="unhandleMistakeCount" />
    <result column="trade_count" jdbcType="INTEGER" property="tradeCount" />
    <result column="bank_trade_count" jdbcType="INTEGER" property="bankTradeCount" />
    <result column="trade_amount" jdbcType="DECIMAL" property="tradeAmount" />
    <result column="bank_trade_amount" jdbcType="DECIMAL" property="bankTradeAmount" />
    <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount" />
    <result column="bank_refund_amount" jdbcType="DECIMAL" property="bankRefundAmount" />
    <result column="bank_fee" jdbcType="DECIMAL" property="bankFee" />
    <result column="org_check_file_path" jdbcType="VARCHAR" property="orgCheckFilePath" />
    <result column="release_check_file_path" jdbcType="VARCHAR" property="releaseCheckFilePath" />
    <result column="release_status" jdbcType="CHAR" property="releaseStatus" />
    <result column="check_fail_msg" jdbcType="VARCHAR" property="checkFailMsg" />
    <result column="bank_err_msg" jdbcType="VARCHAR" property="bankErrMsg" />
  </resultMap>
</mapper>