<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.cg.mapper.MerchantPayProductMapper">
  <resultMap id="BaseResultMap" type="com.santiago.cg.entity.domain.MerchantPayProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="CHAR" property="version" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="pay_product_code" jdbcType="VARCHAR" property="payProductCode" />
    <result column="fee_rate" jdbcType="DECIMAL" property="feeRate" />
  </resultMap>
</mapper>