<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.cg.mapper.MerchantPayConfigMapper">
  <resultMap id="BaseResultMap" type="com.santiago.cg.entity.domain.MerchantPayConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="CHAR" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="audit_status" jdbcType="CHAR" property="auditStatus" />
    <result column="is_auto_sett" jdbcType="CHAR" property="isAutoSett" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="risk_day" jdbcType="INTEGER" property="riskDay" />
    <result column="fund_into_type" jdbcType="VARCHAR" property="fundIntoType" />
    <result column="security_rating" jdbcType="VARCHAR" property="securityRating" />
    <result column="merchant_server_ip" jdbcType="VARCHAR" property="merchantServerIp" />
  </resultMap>
</mapper>