<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.cg.mapper.ReconInterfaceMapper">
  <resultMap id="BaseResultMap" type="com.santiago.cg.entity.domain.ReconInterface">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="recon_period" jdbcType="INTEGER" property="reconPeriod" />
  </resultMap>
</mapper>