<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layer1">
<div th:fragment="content">
<!--    <link rel="stylesheet" href="http://106.54.105.3:9080/cdn/zTree_v3/css/demo.css" type="text/css">-->
<!--    <link rel="stylesheet" href="http://106.54.105.3:9080/cdn/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">-->
<!--    <script type="text/javascript" src="http://106.54.105.3:9080/cdn/zTree_v3/js/jquery.ztree.core.js"></script>-->
<!--    <script type="text/javascript" src="http://106.54.105.3:9080/cdn/zTree_v3/js/jquery.ztree.excheck.js"></script>-->

    <div class="container">
        <caption>角色管理</caption>
        <form action="" method="post" id = "roleQuery">
            <table class="table table-striped" >
                <tr>
                    <td align="right" >角色Id：</td>
                    <td>
                        <input type="text" class="form-control" id="roleId" name="roleId">
                    </td>
                    <td align="right" >角色名称：</td>
                    <td>
                        <input type="text" class="form-control" id="rolename" name="rolename">
                    </td>
                </tr>
                <tr>
                    <td align="right" >角色权限</td>
                    <td>
                        <input type="text" class="form-control" id="roleRoles" name="roleRoles">
                    </td>
                    <td align="right" >角色状态：</td>
                    <td>
                        <select id="lockedFlag" name="lockedFlag" class="form-control" datatype="select">
                            <option value="">全部</option>
                            <option value="0">可用</option>
                            <option value="">锁定</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <div class="outer clearfix u-inquire">
            <button id="query" class="btn large panel-green">查询</button>
        </div>
    </div>
    <div class="container">
        <caption>角色列表</caption>
        <form action="" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>角色Id</td>
                        <td>角色名称</td>
                        <td>角色权限</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="roleList">
                </tbody>
            </table>
            <div id="fixed-table-pagination" class="clearfix">
                <div class="pull-right">
                    <div class="pages">
                        <div id="Pagination"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" id="relateMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            关联菜单
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="zTreeDemoBackground left">
                            <ul id="menuTree" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>


    <!--<a href="/role/insert">新增角色</a>-->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#insertRole">新增角色</button>
    <div class="modal fade" id="insertRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增角色
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="insertForm">
                        <table class="table table-striped" >
                            <tr>
                                <td align="right" >角色名称：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertRoleName" name="insertRoleName">
                                </td>
                                <td align="right" >角色代码：</td>
                                <td>
                                    <input type="text" class="form-control" id="insertRoleCode" name="insertRoleCode">
                                </td>
                            </tr>
                            <!--<tr>-->
                                <!--<td>-->
                                    <!--<ul>-->
                                        <!--<li>角色菜单：</li>-->
                                        <!--<li th:each="menu:${menuList}">-->
                                            <!--<input type="checkbox" th:name="'menuId:' + ${menu.id}" th:text="${menu.name}"></input>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</td>-->
                            <!--</tr>-->
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id = "submitInsert">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>
        $(document).ready(function(){
            getData();
            $("#query").click(function(){
                query();
            });
            $("#submitInsert").click(function () {
                insert();
            })
        });

        function insert() {
            // $("#submitInsert").attr("disabled", true);
            $("#insertRole").modal("hide");
            $.post("/pms/role/insert",
                $("#insertForm").serialize(),
                function callback(data) {
                    if ("000000" == data.code) {
                        alert("新增角色成功");
                    } else {
                        alert("新增角色失败");
                    }
                    query();
                }
            );
        }

        function deleteRole(id) {
            if (confirm("确定删除角色？")) {
                $.post("/role/delete/" + id,
                    function callback(data) {
                        if ("000000" == data.code) {
                            alert("删除角色成功！");
                        } else {
                            alert("删除角色失败！")
                        }
                    }
                );
            }
        }

        function query() {
            if (!checkParam()) {
                return;
            }
            getData();
        }

        function getData() {
            $.post("/pms/role/page",
                $("#roleQuery").serialize(),
                function callback(data) {
                    $("#Pagination").pagination(data.total, {
                            current_page:(data.pageNum - 1),
                            items_per_page:data.pageSize,
                            callback: function (current_page,per_page) {
                                $.post("/pms/role/page",
                                    $("#roleQuery").serialize()+"&pageNum=" + (current_page) + "&pageSize=" + per_page,
                                    function callback(data) {
                                        analyzeData(data);
                                    }
                                );
                            }
                        });
                    analyzeData(data);
                }
            );
        }

        // 检查参数
        function checkParam() {
            return true;
        }

        // 解析数据
        function analyzeData(data) {
            $("#roleList").empty();
            if (data.total > 0) {
                var roleList = data.list;
                var length = data.size;
                for (var i = 0; i < length; i++) {
                    var role = roleList[i];
                    var str = "<tr><td>";
                    str += role.id + "</td><td>";
                    str += role.roleName + "</td><td>";
                    str += role.roleResources + "</td><td>";
                    // str += "<a href=\"/pms/role/relateMenuInit/" + role.id + "\">关联菜单</a><button onclick='deleteRole("+ role.id +")'>删除</button>"+ "</td></tr>";
                    str += "<button class='btn btn-primary btn-lg' data-toggle='modal' data-target='#relateMenu' onclick='relateMenu(" + role.id + ")'>管理菜单</button></td></tr><button onclick='deleteRole("+ role.id +")'>删除</button>"+ "</td></tr>";
                    $("#roleList").append(str);
                }
            } else {
                $("#roleList").html("无数据");
            }
        }


        function relateMenu(id) {
            var url = "/pms/role/relateMenu/" + id;
            $.get(url, function (zNodes) {
                var str = "";

            });
        }
    </script>
</div>

