<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.core.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.santiago.core.entity.domain.Account">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="CHAR" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="freeze_balance" jdbcType="DECIMAL" property="freezeBalance" />
    <result column="security_money" jdbcType="DECIMAL" property="securityMoney" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="total_income" jdbcType="DECIMAL" property="totalIncome" />
    <result column="total_expend" jdbcType="DECIMAL" property="totalExpend" />
    <result column="today_income" jdbcType="DECIMAL" property="todayIncome" />
    <result column="today_expend" jdbcType="DECIMAL" property="todayExpend" />
    <result column="account_type" jdbcType="CHAR" property="accountType" />
    <result column="unsett_balance" jdbcType="DECIMAL" property="unsettBalance" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="delete" jdbcType="CHAR" property="delete" />
  </resultMap>
</mapper>