<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.santiago.rcs.mapper.MerchantSettleConfigMapper">
  <resultMap id="BaseResultMap" type="com.santiago.rcs.entity.domain.MerchantSettleConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="CHAR" property="version" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="settle_type" jdbcType="CHAR" property="settleType" />
    <result column="settle_period" jdbcType="INTEGER" property="settlePeriod" />
    <result column="is_auto_settle" jdbcType="CHAR" property="isAutoSettle" />
  </resultMap>
</mapper>