<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layer1">
<div th:fragment="content">
    <div class="container">
        <caption>订单查询</caption>
        <form action="" method="post" id = "orderQuery">
            <table class="table table-striped" >
                <tr>
                    <td align="right" >商户号：</td>
                    <td>
                        <input type="text" class="form-control" id="merchantNo" name="merchantNo">
                    </td>
                    <td align="right" >商户订单号：</td>
                    <td>
                        <input type="text" class="form-control" id="merchantOrderNo" name="merchantOrderNo">
                    </td>
                </tr>
                <tr>
                    <td align="right" >支付产品：</td>
                    <td>
                        <input type="text" class="form-control" id="payProductCode" name="payProductCode">
                    </td>
                    <td align="right" >平台交易号：</td>
                    <td>
                        <input type="text" class="form-control" id="trxNo" name="trxNo">
                    </td>
                </tr>
                <tr>
                    <td align="right" >起始时间：</td>
                    <td>
                        <input type="text" class="form-control" name="beginTime" id="beginTime"/>
                    </td>
                    <td align="right" >结束时间：</td>
                    <td>
                        <input type='text' class="form-control" name = "endTime" id="endTime"/>
                    </td>
                </tr>
            </table>
        </form>
        <div class="outer clearfix u-inquire">
            <button id="query" class="btn large panel-green">查询</button>
        </div>
    </div>
    <div class="container">
        <caption>订单列表</caption>
        <form action="" method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>订单时间</td>
                    <td>订单创建时间</td>
                    <td>订单完成时间</td>
                    <td>商户名称</td>
                    <td>产品名称</td>
                    <td>订单金额</td>
                    <td>订单状态</td>
                    <td>商户订单号</td>
                    <td>平台交易号</td>
                    <td>支付产品名称</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody id="orderList">
                </tbody>
            </table>
            <div id="fixed-table-pagination" class="clearfix">
                <div class="pull-right">
                    <div class="pages">
                        <div id="Pagination"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            getData();
            $("#query").click(function(){
                query();
            });
            $("#beginTime").click(function(){
                WdatePicker({readOnly:true,maxDate:'#F{\'%y-%M-%d\'}',dateFmt:'yyyy-MM-dd'});
            });
            $("#endTime").click(function(){
                WdatePicker({readOnly:true,maxDate:'#F{\'%y-%M-%d\'}',dateFmt:'yyyy-MM-dd'});
            });
        });
        function query() {
            if (!checkDate()) {
                return;
            }
            if (!checkParam()) {
                return;
            }
            getData();
        }

        function getData() {
            var array = $("#orderQuery").serializeArray(); // 数组
            var obj = {}; // json对象
            for (var i = 0; i < array.length; i++) {
                obj[array[i].name] = array[i].value;
            }
            $.ajax("/trade/order/page", {
                data: JSON.stringify(obj),
                contentType: "application/json",
                datatype: "json",
                type: "post",
                success: function (data) {
                    analyzeData(data);
                    $("#Pagination").pagination(data.total, {
                        current_page: (data.pageNum - 1),
                        items_per_page: data.pageSize,
                        callback: function (current_page, per_page) {
                            obj["pageNum"] = current_page;
                            obj["pageSize"] = per_page;
                            $.ajax("/trade/order/page", {
                                data: JSON.stringify(obj),
                                contentType: "application/json",
                                datatype: "json",
                                type: "post",
                                success: function (data) {
                                    analyzeData(data);
                                }
                            });
                        }
                    });
                }
            });
        }

        // function getData() {
        //     var array = $("#orderQuery").serializeArray();//序列化表单
        //     console.log(array);
        //     var obj = {};//分配内存空间
        //     for (var i = 0; i < array.length; i++) {//数据类型为"自定义类的字段名=数据"后台会自动对数据进行匹配
        //         obj[array[i].name] = array[i].value;
        //     }
        //     console.log(JSON.stringify(obj))
        //
        //     $.post("/trade/order/page",
        //         JSON.stringify(obj),
        //         function callback(data) {
        //             $("#Pagination").pagination(data.total,
        //                 {
        //                     current_page:(data.pageNum - 1),
        //                     items_per_page:data.pageSize,
        //                     callback: function (current_page,per_page){
        //                         obj["pageNum"] = current_page;
        //                         obj["pageSize"] = per_page;
        //                         $.post("/trade/order/page",
        //                             JSON.stringify(obj),
        //                             function callback(data) {
        //                                 analyzeData(data);
        //                             },
        //                             "application/json"
        //                         );
        //                     }
        //                 }
        //             );
        //             analyzeData(data);
        //         },
        //         "application/json"
        //     );
        // }

        // function getData() {
        //     $.get("/trade/order/page",
        //         $("#orderQuery").serialize(),
        //         function callback(data) {
        //             $("#Pagination").pagination(data.total,
        //                 {
        //                     current_page:(data.pageNum - 1),
        //                     items_per_page:data.pageSize,
        //                     callback: function (current_page,per_page){
        //                         $.get("/trade/order/page",
        //                             $("#orderQuery").serialize()+"&pageNum=" + (current_page) + "&pageSize=" + per_page,
        //                             function callback(data) {
        //                                 analyzeData(data);
        //                             }
        //                         );
        //                     }
        //                 }
        //             );
        //             analyzeData(data);
        //         }
        //     );
        // }

        // 检查起始时间和结束时间的关系 起始时间小于或等于结束时间
        function checkDate() {
            var beginTime = $("#beginTime").val();
            var endTime = $("#endTime").val();
            if ("" != beginTime && "" != endTime && beginTime > endTime) {
                alert("结束时间须大于或等于起始时间！");
                return false;
            }
            return true;
        }

        // 检查参数
        function checkParam() {
            return true;
        }

        // 解析数据
        function analyzeData(data) {
            $("#orderList").empty();
            if (data.total > 0) {
                var list = data.list;
                var length = data.size;
                for (var i = 0; i < length; i++) {
                    var ele = list[i];
                    var str = "<tr><td>";
                    str += new Date(ele.orderTime).toLocaleString() + "</td><td>";
                    str += new Date(ele.gmtCreate).toLocaleString() + "</td><td>";
                    str += new Date(ele.gmtModified).toLocaleString() + "</td><td>";
                    str += ele.merchantName + "</td><td>";
                    str += ele.productName + "</td><td>";
                    str += ele.orderAmount + "</td><td>";
                    str += ele.status + "</td><td>";
                    str += ele.merchantOrderNo + "</td><td>";
                    str += ele.trxNo + "</td><td>";
                    str += ele.payProductName + "</td><td>";
                    str += "<button href=\"##" + ele.id + "\">查询详情</button>"+ "</td></tr>";
                    $("#orderList").append(str);
                }
            } else {
                $("#orderList").html("无数据");
            }
        }
    </script>
</div>

